#root {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.home {
    width: 100%;
    height: max-content;
    background-image: url('./assets/background.png');
    background-size: 100% 100%;
    padding: 64px 8px 0 8px;
}

.content {
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 16px;
    position: relative;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.tip {
    font-size: 14px;
    color: #666;
    margin-bottom: 42px;
}

.banner {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scoreTitle {
    color: rgb(254, 0, 0);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;

}
.scoreDesc {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: normal;
}

.formItemRate .ant-form-item {
    margin-bottom: 8px;
}

.ant-form > .ant-form-item > .ant-row > .ant-col > label {
    font-weight: bold;
}

.ant-form-item-control-input-content .ant-btn {
     width: 100%;
}

.formItemRate .ant-form-item-control-input .ant-form-item-required::before {
    display: none !important;
}